<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Budget</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
  </head>
  <body>
    <div class="container">
      <h1>Add New Item</h1>
      <form action="/budgets" method="POST">
        <label for="date">Date:</label>
        <input type="text" name="date" id="date" />
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <label for="amount">Amount:</label>
        <input type="number" name="amount" id="amount" />
        <label for="from">From:</label>
        <input type="text" name="from" id="from" />
        <label for="tags">Tags:</label>
        <input type="text" name="tags" id="tags" />
        <input type="submit" value="Add New"></input>
      </form>
      <h4><a href="/budgets">Back to Index</a></h4>
    </div>
  </body>
</html>
=======

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Expense Page</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>

<body>
  <div class="container">
    <h1>Add New Expense</h1>
    <form action="/expenses" method="POST">
      <input type="text" name="date" placeholder="Date">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="from" placeholder="From">
      <input type="text" name="amount" placeholder="Amount">
      <input type="text" name="tags" placeholder="Tags">
      <button type="submit">Add Expense</button>
    </form>
  </div>
</body>

</html>
>>>>>>> 4209c0a512f99eae74b1492c3b35a7b69eeb51aa
