<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>POP PUNK STARTER PACK</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <h1>LOOK AT THESE GREAT DEALS</h1>
    <div class="container">
      <% for(let i = 0; i < products.length; i++){ %>
      <div class="item">
        <a href="/store/<%=products[i].id%>"> <%=products[i].name%> </a>
        <img src="<%=products[i].img%>" />
      </div>
      <% } %>
    </div>
    <h5><a href="/store/new">Add New Item</a></h5>
  </body>
</html>
