<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>FRUITS</title>
  </head>
  <body>
    <h1>Fruits show page</h1>
    <p>
      the <%=fruit.name; %> is <%=fruit.color; %>. <%if(fruit.readyToEat ===
      true){ %> It is ready to eat <% } else {%> It is not ready to eat <%} %>
    </p>
    <a href="/fruits">Back To Index</a>
  </body>
</html>
