<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Scientist</title>
  </head>
  <body>
    <h1><%=scientist.name%></h1>
    <h2><a href="/index">Back to Index</a></h2>
    <h4>Description: <%=scientist.description%></h4>
    <h6><a href="/index/<%=currentIndex%>/edit">Edit</a></h6>
  </body>
</html>
