body {
    background-color: rgb(214, 214, 223);
    margin: 15px;
}

header {
    padding: 10px;
    text-align: center;
    background: rgb(249, 249, 249);
}
img {
    max-width: 80%;
}
main {
    background-color: rgb(238, 238, 238);
    margin: 0 0, 50px, 0;
    padding: 20px;
}
h2 {
    text-align: center;
}
article {
    background-color: rgb(249, 249, 249);
    margin: 25px 50px;
    padding: 10px;
}
footer {
    background-color: rgb(249, 249, 249);
    padding: 20px;
}