<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Index of logs</h1>
    <nav>
      <a href="/logs/new">Add new log</a>
    </nav>
    <ul>
      <% for(let i = 0; i < logs.length; i++){ %>
      <li>
        <a href="/logs/<%=logs[i].id%>"> <%=logs[i].title%> </a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
