<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Log: <%=log.title%></h1>
    <h4>Date: <%=log.createdAt%></h4>
    <div>
      Entry:
      <p><%=log.entry%></p>
    </div>
    <h4>
      Ship Status: <% if(log.shipIsBroken === true) { %> Broken. <% } else { %>
      Ready <% } %>
    </h4>
    <a href="/logs">Return to all logs</a>
  </body>
</html>
