*{
  margin: 0;
  border: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  height: 100%;
  width: 66%;
}

.bio-container {
  overflow: auto;
  border: 1px solid #000;
}

img {
  height: 200px;
  width: 200px;
  float: left;
}

.bio-header {
  text-align: center;
  padding: 1em 0;
}

