<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Biscoff Bakery</title>
    <link rel="stylesheet" href="/css/skeleton.css" />
  </head>
  <body>
    <h1><%=bakedGoods.name%></h1>
    <h3>Price: $<%=bakedGoods.price%></h3>
    <img src="<%=bakedGoods.image%>" />
    <h3><a href="/bakedgoods">Return to index</a></h3>
  </body>
</html>
